In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import os

from transformers import AutoTokenizer
from transformers import AutoModelForSequenceClassification
from scipy.special import softmax
from tqdm import tqdm
from ipywidgets import FloatProgress

In [5]:
import googleapiclient.discovery
import pandas as pd

api_service_name = "youtube"
api_version = "v3"
DEVELOPER_KEY = "AIzaSyAJ-YUwHTo3NcXit_r2_tlCkLNSjPpcLkQ"

youtube = googleapiclient.discovery.build(
    api_service_name, api_version, developerKey=DEVELOPER_KEY)


request = youtube.commentThreads().list(
    part="snippet",
    videoId="XpmeVNxZ-Ks",
    maxResults=100,
    
)
response = request.execute()

comments = []


for item in response['items']:
        comment = item['snippet']['topLevelComment']['snippet']
        comments.append([
            comment['authorDisplayName'],
            comment['publishedAt'],
            comment['updatedAt'],
            comment['likeCount'],
            comment['textDisplay']
            ])


data = pd.DataFrame(comments, columns=['author', 'published_at', 'updated_at', 'like_count', 'text'])

data.head(100)

,author,published_at,updated_at,like_count,text
0,@ericdrob,2023-12-16T02:32:34Z,2023-12-16T02:32:34Z,0,&quot;But everybody said we had it&quot;<br><b...
1,@Guythatsometimescomments,2023-12-13T08:21:35Z,2023-12-13T08:21:35Z,0,Jesus. Who can&#39;t relate to this song?
2,@DakshSharma-dt5xf,2023-12-13T06:26:44Z,2023-12-13T06:26:44Z,0,2023 and this song still hits deep
3,@jakewilson6600,2023-12-07T09:34:52Z,2023-12-07T09:34:52Z,1,Been listening to John Bellion for years and h...
4,@debanjanchatterjee561,2023-12-07T05:14:14Z,2023-12-07T05:14:14Z,1,2023 anyone?
...,...,...,...,...,...
95,@mitchburkeen5833,2023-05-24T15:49:51Z,2023-05-24T15:49:51Z,0,How many times I&#39;ve belted &quot; tell me ...
96,@mitchburkeen5833,2023-05-24T15:44:56Z,2023-05-24T15:44:56Z,1,Who is in the background saying I&#39;m sorry ...
97,@mitchburkeen5833,2023-05-24T15:43:35Z,2023-05-24T15:43:35Z,1,This is a literally my very first song I ever ...
98,@ramsfan9209,2023-05-23T22:38:39Z,2023-05-23T22:38:39Z,0,Tell me what you hate about me Kristen Kathlee...
99,@SanayaThapa-yp4em,2023-05-21T14:45:19Z,2023-05-21T14:45:19Z,1,This song i wl dedicate to my soulmate .....if...

In [6]:
data.columns
data1=data.drop(['published_at','updated_at','like_count'],axis=1)
data1

,author,text
0,@ericdrob,&quot;But everybody said we had it&quot;<br><b...
1,@Guythatsometimescomments,Jesus. Who can&#39;t relate to this song?
2,@DakshSharma-dt5xf,2023 and this song still hits deep
3,@jakewilson6600,Been listening to John Bellion for years and h...
4,@debanjanchatterjee561,2023 anyone?
...,...,...
95,@mitchburkeen5833,How many times I&#39;ve belted &quot; tell me ...
96,@mitchburkeen5833,Who is in the background saying I&#39;m sorry ...
97,@mitchburkeen5833,This is a literally my very first song I ever ...
98,@ramsfan9209,Tell me what you hate about me Kristen Kathlee...
99,@SanayaThapa-yp4em,This song i wl dedicate to my soulmate .....if...

In [7]:
MODEL = f"cardiffnlp/twitter-roberta-base-sentiment"
tokenizer = AutoTokenizer.from_pretrained(MODEL)
model = AutoModelForSequenceClassification.from_pretrained(MODEL)

In [8]:
def polarity_scores_roberta(example):
    encoded_text = tokenizer(example, return_tensors='pt')
    output = model(**encoded_text)
    scores = output[0][0].detach().numpy()
    scores = softmax(scores)
    scores_dict = {
        'roberta_neg' : scores[0],
        'roberta_neu' : scores[1],
        'roberta_pos' : scores[2]
    }
    return scores_dict

In [9]:
res = {}
for i, row in tqdm(data1.iterrows(), total=len(data1)):
    try:
        text = row['text']
        id=row['author']
        roberta_result = polarity_scores_roberta(text)
        finalresult={**roberta_result}
        res[id]=finalresult
    except RuntimeError:
        print(f'Broke')

100%|██████████| 100/100 [00:16<00:00,  6.11it/s]

In [10]:
results_df = pd.DataFrame(res).T
results_df = results_df.reset_index().rename(columns={'index': 'author'})
results_df = results_df.merge(data1, how='left')

In [11]:
results_df

,author,roberta_neg,roberta_neu,roberta_pos,text
0,@ericdrob,0.288930,0.588818,0.122252,&quot;But everybody said we had it&quot;<br><b...
1,@Guythatsometimescomments,0.835857,0.141407,0.022737,Jesus. Who can&#39;t relate to this song?
2,@DakshSharma-dt5xf,0.007246,0.200812,0.791942,2023 and this song still hits deep
3,@jakewilson6600,0.029288,0.600424,0.370289,Been listening to John Bellion for years and h...
4,@debanjanchatterjee561,0.044779,0.876107,0.079114,2023 anyone?
...,...,...,...,...,...
95,@MatthewCo77ins,0.337606,0.504589,0.157805,GUESS they missed the Message 😂😂😂❤<br><br>👁️📜✴...
96,@frankhenry441,0.001257,0.008598,0.990144,This is awesome!! 👍 amazing song. Who is the a...
97,@Chris-dq1dl,0.001608,0.010129,0.988263,Man this is a great song 🙌
98,@ramsfan9209,0.499906,0.392821,0.107273,Tell me what you hate about me Kristen Kathlee...
99,@SanayaThapa-yp4em,0.017264,0.091128,0.891608,This song i wl dedicate to my soulmate .....if...

In [12]:
results_df.describe()

       roberta_neg  roberta_neu  roberta_pos
count   100.000000   100.000000   100.000000
mean      0.163500     0.314336     0.522164
std       0.270131     0.280134     0.378988
min       0.000975     0.006646     0.005320
25%       0.003171     0.062578     0.116010
50%       0.026606     0.218791     0.551471
75%       0.202024     0.529417     0.926500
max       0.967909     0.892011     0.990651

In [13]:
def get_video_details(youtube, video_ids):
    all_video_stats = []
    
    
    request1 = youtube.videos().list(
                part='snippet,statistics',
                id=video_ids)
    response1 = request1.execute()
        
    for video in response1['items']:
        video_stats = dict(Title = video['snippet']['title'],
                            Published_date = video['snippet']['publishedAt'],
                            Views = video['statistics']['viewCount'],
                            Likes = video['statistics']['likeCount'],
                               ##Dislikes = video['statistics']['dislikeCount'],
                               ##Comments = video['statistics']['commentCount']
                               )
        all_video_stats.append(video_stats)
    return all_video_stats

In [15]:
video1=get_video_details(youtube,'XpmeVNxZ-Ks')

In [16]:
video1

[{'Title': 'ILLENIUM, Jon Bellion - Good Things Fall Apart',
  'Published_date': '2019-06-10T18:00:02Z',
  'Views': '31021820',
  'Likes': '377282'}]